<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tracecompass.tmf.analysis.xml.core.xsd">
      <xsdfile
            file="xsd_files/xmlCallstack.xsd">
      </xsdfile>
      <schemaParser
            class="org.eclipse.tracecompass.incubator.internal.callstack.core.xml.callstack.CallstackXmlSchemaParser">
      </schemaParser>
   </extension>
</plugin>
