<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.modules">
      <module
            category="org.eclipse.tracecompass.incubator.scripting.core.category"
            class="org.eclipse.tracecompass.incubator.internal.scripting.core.analysis.AnalysisScriptingModule"
            id="org.eclipse.tracecompass.incubator.scripting.core.analysis"
            name="Analysis"
            visible="true">
      </module>
      <category
            id="org.eclipse.tracecompass.incubator.scripting.core.category"
            name="TraceCompass">
      </category>
   </extension>
   <!--
   <extension point="org.eclipse.ui.activities">
   	  <activity name="%activity.name.debugPerspective"     id="org.eclipse.unwantedEasePerspective"    description="%activity.description.debugPerspective" />
      <activity name="%activity.name.debugPerspective"     id="org.eclipse.wantedDebugPerspective"    description="%activity.description.debugPerspective" />
      <enabledWhen>
      <with variable="true">
         <equals value="true">
         </equals>
      </with>
   </enabledWhen>
      <activity name="%activity.name.search"  id="org.eclipse.tracecompass.incubator.scripting"  description="%activity.description.search" >
      <enabledWhen>
      <with variable="true">
         <equals value="true">
         </equals>
      </with>
   </enabledWhen>
      </activity>
      <activityPatternBinding activityId="org.eclipse.tracecompass.incubator.scripting"      pattern="org\.eclipse\.tracecompass.*" />
      <activityPatternBinding activityId="org.eclipse.unwantedEasePerspective"     pattern="org\.eclipse\.ease.*" />
      <activityPatternBinding activityId="org.eclipse.wantedDebugPerspective"    pattern="org\.eclipse\.debug.*" />
   </extension>
   -->
</plugin>
