<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.analysis.xml.core.files">
      <xmlfile
            file="xml_files/lampfullstack.xml">
      </xmlfile>
      <xmlfile
            file="xml_files/phpfullstack.xml">
      </xmlfile>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <experiment
            experiment_type="org.eclipse.tracecompass.incubator.web.analysis.experiment.WebExperiment"
            id="org.eclipse.tracecompass.incubator.web.analysis.core.webexperiment"
            name="%tracetype.experiment.web">
      </experiment>
   </extension>

</plugin>
