<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.incubator.internal.dependency.analysis.ui.views.controlflow.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="org.eclipse.tracecompass.incubator.dependency.analysis.ui.test"
            name="Control Flow (incubator)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.dependency.analysis.ui.test">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.kernel.KernelAnalysisModule">
         </analysisModuleClass>
      </output>
   </extension>

</plugin>
